<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Simple-Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} " />
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Simple-Blog
        </a>
        <div
          class="navbar-burger burger"
          data-target="navbarExampleTransparentExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item" href="/blog/">
            Blog
          </a>
         
          </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    
    <section class="section">
      <br />
      <div class="container">
        {% block content %} {% endblock content %}
      </div>
    </section>
    <footer class="footer" style="position: fixed; left: 0; bottom: 0; width: 100%; padding: 1rem;">
  <div class="container hast-text-centered">
    <p>
      &copy; 2020 | <a href="/imprint/">Imprint</a> | <a href="/admin/">Login</a> 
    </p>
  </div>
</footer>

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  </body>
</html>
